<footer class="bg-gray-200">
  <div class="box flex px-2 py-12">
    <div class="w-1/3 px-2">
      <div>
        <p class="text-2xl"><span>Lerouge</span> City Relax</p>
        <p class="font-sans tracking-wider -mt-1 mb-4">Beauty and Wellness</p>
        <div>
          <p class="font-sans">Via M. Montessori, 5</p>
          <p class="font-sans">24060 S. Paolo d’Argon BG</p>
          <p class="font-sans">Cell.: 345.1209382</p>
          <p class="font-sans">E-mail: info@lerouge.it</p>
        </div>
      </div>
    </div>

    <div class="w-1/3 px-2">
      <div>
        <p class="text-2xl">Orari di apertura</p>
        <div class="pt-4">
          <p class="font-sans">Martedì e Giovedì: 9.00 - 22.00</p>
          <p class="font-sans">Mercoledì e Venerdì: 13.00-22.00</p>
          <p class="font-sans">Sabato: 9.00 - 17.00</p>
          <p class="font-sans">Domenica e Lunedì Chiuso</p>
        </div>
      </div>
    </div>

    <div class="w-1/3 px-2">
      <div class="bg-gray-400">hola</div>
    </div>
  </div>
</footer>

<footer class="bg-red-800 py-5">
  <p class="text-white text-center text-sm tracking-wider">© <span class="font-sans tracking-normal">2016</span> All
    Rights
    Reserved. Lerouge di Fabiola Rondi -
    P.IVA
    e C.F.
    <span class="font-sans tracking-normal">02114210160</span> |
    Sito
    realizzato da: Johnny Bravo</p>
</footer>