<div class="header flex mb-6">
  <div class="logo"><img src="/assets/img/lerouge.png" alt="Logo"></div>
  <nav class="navbar">
    <ul class="flex list-none">
      <li><a href="#" class="text-gray-800 hover:text-red-700 cursor-pointer">Home</a></li>
      <li><a href="#" class="text-gray-800 hover:text-red-700 cursor-pointer">Chi siamo</a></li>
      <li><a href="#" class="text-gray-800 hover:text-red-700 cursor-pointer">Dove siamo</a></li>
      <li><a href="#" class="text-gray-800 hover:text-red-700 cursor-pointer">Foto & Video</a></li>
      <li><a href="#" class="bg-red-700 hover:bg-red-800 text-white rounded-lg no-underline block">Promozioni</a>
      </li>
      <li><a href="#" class="text-gray-800 hover:text-red-700 cursor-pointer">I prodotti</a></li>
    </ul>
  </nav>
</div>