$sans: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding-left: 1rem;
  margin-bottom: 1rem;

  img#logo {
    height: 80px;
  }

  nav {
    display: flex;
    flex-grow: 1;

    button {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      background: transparent;
      -webkit-tap-highlight-color: transparent;
      position: sticky;
      top: 12px;
    }

    button#menu_open_btn {}

    #menu_content {
      flex-grow: 1;
      display: flex;

      #menu_top_bar {
        span {}

        button#menu_close_btn {}
      }

      ul#menu_links {
        list-style-type: none;

        li {
          a {}
        }
      }

      #menu_bottom_text {}
    }
  }
}

// Header media query [DESKTOP size] min
@media screen and (min-width: 936px) {
  header {
    img#logo {}

    nav {
      button {}

      button#menu_open_btn {
        display: none;
      }

      #menu_content {
        #menu_top_bar {
          display: none;

          span {}

          button#menu_close_btn {
            display: none;
          }
        }

        ul#menu_links {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          flex-grow: 1;

          li {

            a {
              display: inline-block;
              padding: 1rem;
              font-size: 17px;
              font-family: Georgia, 'Times New Roman', Times, serif;
              letter-spacing: 0.5px;
              transition: color 0.12s ease, background-color 0.12s ease;

              &:not(.promozioni):hover {
                color: #C53030;
              }

              &.promozioni {
                background: #C53030;
                border-radius: 8px;
                color: white;

                &:hover {
                  background: #9b2c2c;
                }
              }
            }
          }
        }

        #menu_bottom_text {
          display: none;
        }
      }
    }
  }
}

// Header media query [MOBILE size] max
@media screen and (max-width: 935px) {
  header {
    justify-content: space-between;

    img#logo {}

    nav {
      flex-grow: 0;
      padding-right: 1rem;

      button {}

      button#menu_open_btn {}

      #menu_content {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background: white;

        #menu_top_bar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #efefef;
          height: 130px;
          padding-left: 2.25rem;
          padding-right: 1rem;

          span {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.25rem;
            letter-spacing: 0.025em;
          }

          button#menu_close_btn {}
        }

        ul#menu_links {
          display: flex;
          flex-direction: column;

          li {
            transform: translateX(56px);
            opacity: 0;

            a {
              display: block;
              height: 64px;
              line-height: 70px;
              padding-left: 2.125rem;
              //font-size: 1.125rem;
              letter-spacing: 0.025em;
              color: #1a202c;

              display: flex;
              align-items: center;

              img {
                margin-right: 1rem;
              }
            }
          }
        }

        #menu_bottom_text {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          padding-bottom: .5rem;
          font-family: $sans;
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(56px);
    opacity: 0;

  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

// Even smaller size
@media screen and (max-width: 640px) {
  header {
    height: 88px;

    img#logo {
      height: 64px;
    }

    #menu_top_bar {
      height: 88px !important;
    }
  }
}

body.menu-opened {
  overflow: hidden;

  #menu_content {
    display: block;

    #menu_links {
      li {
        animation: fadeInLeft 0.12s ease forwards;
      }
    }
  }
}