@import 'card';

body {
  //background: #f5f7fa;
}

.box {
  max-width: 1200px;
  margin: 0 auto !important;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

.header {
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 1rem;

  img {
    height: 80px;
  }
}

.navbar {

  ul {
    li {
      a {
        display: inline-block;
        padding: 1rem;
        font-size: 17px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        //color: #252525;
        //background: #ccc;
        letter-spacing: 0.5px;

        &.promozioni {
          background: rgb(168, 21, 21);
          border-radius: 8px;
          color: white;
        }
      }
    }
  }
}

.circular-image {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat;
}